:root {
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    }

body {
    background-color: var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
}

.logo {
    color: #000000;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

span {
    color: var(--accent-color);
}

.nav-link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

/* .nav-link current{
    color: var(--accent-color); */
/* } */

.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    }

.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}

.hero {
    background-color: #2F303A;
}
.main-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.hero-buttom {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.hero-buttom:hover, .hero-buttom:focus{
    background-color: #188CE8;
}

.feature-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.feature-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.team{
    background-color: #F5F4FA;;
}
.direction-title, .team-title, .feature-main-title, .project-examples-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-member {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.member-job{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.footer{
    background-color: #2F303A;
}
.footer-address{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.footer-email, .footer-phone {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-email:hover, .footer-email:focus, .footer-phone:hover, .footer-phone:focus, .footer-address:hover, .footer-address:focus {
    color: var(--accent-color);    
}

.project-examples-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
}

.project-examples-button:hover, .project-examples-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.project-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color:var(--title-text-color)
}

.project-type{
    ont-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}